<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager page</title>
</head>
<body>
 <h1><strong><p>
 <div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
 </div>
 <br>
 <div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>
 <br>


<div class="show_result">
    {% for squares in range(0,class_number) %}

    <table style="border: 1px solid black; width: 600px; text-align: center;">
        <caption>{{squares+1}}반</caption>
        <thead>
            <tr>
                <th>/</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
            </tr>
        </thead>
        {% if class_number==1 %}
        {% for item in class_1 %}
        <tbody>
            <td>{{loop.index}}교시</td><td>{{item.0}}</td><td>{{item.1}}</td><td>{{item.2}}</td><td>{{item.3}}</td><td>{{item.4}}</td>
        </tbody>
        {% endfor %}

        {% for item in a %}
        <tbody>
            <td>{{loop.index}}교시</td><td>{{item.0}}</td><td>{{item.1}}</td><td>{{item.2}}</td><td>{{item.3}}</td><td>{{item.4}}</td>
        </tbody>
        {% endfor %}

        {% endif %}}
        </table>
    {% endfor %}
    <br>
</div>

</body>
</html>