<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager page</title>
</head>
<body>
<h3>
    <div style="text-align:center">총 학급수:
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1개</option>
        <option value="class_2">2개</option>
        <option value="class_3">3개</option>
        <option value="class_4">4개</option>
        <option value="class_5">5개</option>
        <option value="class_6">6개</option>
        <option value="class_7">7개</option>
        <option value="class_8">8개</option>
    </select></div>
    <div style="text-align:center"><input type="checkbox">국어1:
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>
    <div style="text-align:center"><input type="checkbox">국어2:
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>
    <div style="text-align:center"><input type="checkbox">수학1:
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>

    <div style="text-align:center"><input type="checkbox">수학2:
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>
    <div style="text-align:center"><input type="checkbox">영어 :
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>
    <div style="text-align:center"><input type="checkbox">사회 :
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>
    <div style="text-align:center"><input type="checkbox">과학 :
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>
    <div style="text-align:center"><input type="checkbox">체육 :
    <select name="class" style="width:60px;height:30px;">
        <option value="class_1" selected>1시간</option>
        <option value="class_2">2시간</option>
        <option value="class_3">3시간</option>
        <option value="class_4">4시간</option>
        <option value="class_5">5시간</option>
    </select></div>
</h3>
<br>
<div style="text-align:right"><button>시간표 생성</button></div>

</body>
</html>