<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type = 'text' name = 'information1' id="info" placeholder="내용을 입력해주세요">
<input type = "button" value = "확인" onclick = "Getting()">

<script>
    function Getting() {
        var Gotten_value = document.getElementById('info');
        for (var i = 0; i < 30; i++) {
            List1 = [];
            List1[i] = Gotten_value;
            print(List[i]);
            // var anText_sub1 = document.getElementById('info').value;

        }
    }
</script>
</body>
</html>