<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta charset="utf-8">
</head>
<body>
 <h1><strong><p>
 <div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
 </div>
 <br>
 <div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>
 <br>
 <div style="text-align:center">
	<p>
		<strong>본인의 학급을 선택해주세요.
	</p>
	</strong>
 </div>
 <br>
 <div style="text-align:center">
	<form action="http://127.0.0.1:9999/studentpage/2/">
		<p>
			반입력:
			<select name="class" style="width:60px;height:30px;">
				<option value="class_1" selected>1반</option>
				<option value="class_2">2반</option>
				<option value="class_3">3반</option>
				<option value="class_4">4반</option>
				<option value="class_5">5반</option>
				<option value="class_6">6반</option>
				<option value="class_7">7반</option>
				<option value="class_8">8반</option>
			</select>
		<br><br>
		</div>
		<div style="text-align:center">
			<input type="submit" value="확인">
		</div>
	    </p>
    </form>
</body>
</html>