<!DOCTYPE HTML>
<html lang="ko">
<head>
<meta charset="utf-8">
</head>
<body>
 <h1><strong><p>
 <div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
 </div>
 <br>
 <div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>
 <br>
  <h3><div style="text-align:center">학급 시간표</div></p></h3>
    <p><table border="5" style="margin-left: auto; margin-right: auto">
            <thead>
    <tr>
        <td>   </td><th>월  </th><th>화  </th><th>수  </th><th>목  </th><th>금  </th>
    </tr>
            </thead>
    <tbody>
    <tr>
        <th>1교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>2교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>3교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>4교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>5교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>6교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>7교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>8교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    </tbody>
    </table>
 <br><br><br>
 <div style="text-align:center"><button onclick="window.location.href='/'">확인</button></div>
 <br>

</body>
</html>