<!DOCTYPE HTML>
<html lang="ko">
<head>
	<title>담당학급 선택</title>
<meta charset="utf-8">
</head>
<body>
<h1><strong><p>
<div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
</div>
<br>
<div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>
<br>
<div style="text-align:center">
	<p>
		<strong>선생님의 담당학급을 선택해주세요.
	</p>
	</strong>
</div>
<br>
<div style="text-align:center">
	<form action="/Teacherpage/4/" method="post">
		<p>
			과목입력:
			<select name="class" style="width:60px;height:30px;">
				<option value="1반" selected>1반</option>
				<option value="2반">2반</option>
				<option value="3반">3반</option>
				<option value="4반">4반</option>
				<option value="5반">5반</option>
				<option value="6반">6반</option>
				<option value="7반">7반</option>
				<option value="8반">8반</option>
			</select>
		</div>
		<div style="text-align:center">
			<input type="submit" value="확인">
		</div>
	    </p>
    </form>
</body>
</html>