<!DOCTYPE HTML>
<html lang = 'ko'>
<head>
    <title>담당학급 관리</title>
<meta charset="utf-8">
</head>
<body>
<h1><strong><p>
<div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
</div>
<br>
<div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>

<div style="text-align:center"><h2>담당학급 관리</h2></div>
<br><br>

<h3><div style="text-align:center">{{ class_select}}반 시간표</div></p></h3>
<div class="show_result">
    <table style="border: 1px solid black; width: 600px; text-align: center;">
        <thead>
            <tr>
                <th>/</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
            </tr>
        </thead>
        <tbody>
        {% for row in df_list %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>

    <form action ="/Teacher/result/"><div style="text-align:center">
        <h3><div style="text-align:center">출결관리</div></p></h3>
	        <form action="/examples/media/request.php" method="post">
		          조회할 날짜를 선택하세요<br><br>
		    <input type="date" name="startday">
		    <input type="submit" value= "조회">
        </div>
    </form>

<br><br>

</body>
</html>