<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action = """>
<table border=" " style ="margin-left: auto; margin-right: auto">
    <thead>
    <tr>
        <th>번호</th><th>출석</th><th>지각</th><th>결석</th>
    </tr>


 <td>1</td>
        <td><input type="radio" name="1" value="attend" checked="checked"></td>
        <td><input type="radio"name="1"value="late"></td>
        <td><input type="radio" name="1"value="absent"></td>
    </tr>
     <tr>
        <td>2</td>
        <td><input type="radio" name="2"value="attend"checked="checked"></td>
        <td><input type="radio"name="2"value="late"></td>
        <td><input type="radio" name="2"value="absent"></td>
    </tr>
     <tr>
        <td>3</td>
        <td><input type="radio" name="3"value="attend"checked="checked"></td>
        <td><input type="radio"name="3"value="late"></td>
        <td><input type="radio" name="3"value="absent"></td>
    </tr>
     <tr>
        <td>4</td>
        <td><input type="radio" name="4"value="attend"checked="checked"></td>
        <td><input type="radio"name="4"value="late"></td>
        <td><input type="radio" name="4"value="absent"></td>
    </tr>
     <tr>
        <td>5</td>
        <td><input type="radio" name="5"value="attend"checked="checked"></td>
        <td><input type="radio"name="5"value="late"></td>
        <td><input type="radio" name="5"value="absent"></td>
    </tr>
     <tr>
        <td>6</td>
        <td><input type="radio" name="6"value="attend"checked="checked"></td>
        <td><input type="radio"name="6"value="late"></td>
        <td><input type="radio" name="6"value="absent"></td>
    </tr>
     <tr>
    </thead>
    <tbody>
    <tr>
    </tbody>
    </table>
    <br>
    <button>저장</button>
</form>

</body>
</html>