<!DOCTYPE HTML>
<html lang = 'ko'>
<head>
    <title>담당학급 관리</title>
<meta charset="utf-8">
</head>
<body>
<h1><strong><p>
<div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
</div>
<br>
<div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>

<div style="text-align:center"><h2>담당학급 관리</h2></div>
<br><br>

<h3><div style="text-align:center">담당학급 시간표</div></p></h3>
<p><table border="5" style="margin-left: auto; margin-right: auto">
            <thead>
    <tr>
        <td>   </td><th>월  </th><th>화  </th><th>수  </th><th>목  </th><th>금  </th>
    </tr>
            </thead>
    <tbody>
    <tr>
        <th>1교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>2교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>3교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>4교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>5교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>6교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>7교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>8교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    </tbody>
    </table>
    <br><br>

    <form action =""><div style="text-align:center">
        <h3><div style="text-align:center">출결관리</div></p></h3>
	        <form action="/examples/media/request.php">
		          조회할 날짜를 선택하세요<br><br>
		    <input type="date" name="startday">
		    <input type="submit" value= "조회">
        </div>
    </form>

<br><br>

<form action="">
<table border=" " style ="margin-left: auto; margin-right: auto">
    <thead>
    <tr>
        <th>번호</th><th>출석</th><th>지각</th><th>결석</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>1</td>
        <td><input type="radio" name="1" value="attend" checked="checked"></td>
        <td><input type="radio"name="1"value="late"></td>
        <td><input type="radio" name="1"value="absent"></td>
    </tr>
     <tr>
        <td>2</td>
        <td><input type="radio" name="2"value="attend"checked="checked"></td>
        <td><input type="radio"name="2"value="late"></td>
        <td><input type="radio" name="2"value="absent"></td>
    </tr>
     <tr>
        <td>3</td>
        <td><input type="radio" name="3"value="attend"checked="checked"></td>
        <td><input type="radio"name="3"value="late"></td>
        <td><input type="radio" name="3"value="absent"></td>
    </tr>
     <tr>
        <td>4</td>
        <td><input type="radio" name="4"value="attend"checked="checked"></td>
        <td><input type="radio"name="4"value="late"></td>
        <td><input type="radio" name="4"value="absent"></td>
    </tr>
     <tr>
        <td>5</td>
        <td><input type="radio" name="5"value="attend"checked="checked"></td>
        <td><input type="radio"name="5"value="late"></td>
        <td><input type="radio" name="5"value="absent"></td>
    </tr>
     <tr>
        <td>6</td>
        <td><input type="radio" name="6"value="attend"checked="checked"></td>
        <td><input type="radio"name="6"value="late"></td>
        <td><input type="radio" name="6"value="absent"></td>
    </tr>
    </tbody>
    </table>
    <br>
    <div style="text-align:center"><input type="button" value="저장" onclick=" "></div>
    </form>

</body>
</html>