<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>담당과목 관리</title>
<meta charset="utf-8">
</head>


<body>
    <h1><strong><p>
        <div style="text-align:center">
            <a href="/Initialpage.html">학급관리 프로그램</a></p></strong></h1>
        </div>
    <br>
    <div style="text-align:right"><button> <a href="/Initialpage.html">HOME</a></button></div>

    <div style="text-align:center"><h2>{{subject_select}} 담당과목 관리</h2></div>
    <br><br>

    <h3><div style="text-align:center">과목별 시간표</div></p></h3>



    <br>
    <button onclick="">입력</button> <div style="text-align:right"><button onclick="">저장</button></div>
    <div style="text-align:center"><button onclick="window.location.href='/Teacherpage/3/'">학급 관리</button></div>

</body>
</html>