<!DOCTYPE HTML>
<html lang = 'ko'>
<head>
    <title>담당학급 관리</title>
<meta charset="utf-8">
</head>
<body>
<h1><strong><p>
<div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
</div>
<br>
<div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>

<div style="text-align:center"><h2>담당학급 관리</h2></div>
<br><br>

<h3><div style="text-align:center">담당학급 시간표</div></p></h3>
<p><table border="5" style="margin-left: auto; margin-right: auto">
            <thead>
    <tr>
        <td>   </td><th>월  </th><th>화  </th><th>수  </th><th>목  </th><th>금  </th>
    </tr>
            </thead>
    <tbody>
    <tr>
        <th>1교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>2교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>3교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>4교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>5교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>6교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>7교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>8교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    </tbody>
    </table>
    <br><br>

<form action ="">
    <h3><div style="text-align:center">출결관리</div></p></h3>
    <div style="text-align:center">
        월: <select name="Month">
        <option value="February">2월</option>
        <option value="March">3월</option>
        <option value="April">4월</option>
        <option value="May">5월</option>
        <option value="June">6월</option>
        <option value="July">7월</option>
        <option value="August">8월</option>
        <option value="September">9월</option>
        <option value="October">10월</option>
        <option value="November">11월</option>
        <option value="December">12월</option>
    </select>
    일: <select name="Day">
        <<option value="1">1일</option>
        <option value="2">2일</option>
        <option value="3">3일</option>
        <option value="4">4일</option>
        <option value="5">5일</option>
        <option value="6">6일</option>
        <option value="7">7일</option>
        <option value="8">8일</option>
        <option value="9">9일</option>
        <option value="10">10일</option>
        <option value="11">11일</option>
        <option value="12">12일</option>
        <option value="12">12일</option>
        <option value="13">13일</option>
        <option value="14">14일</option>
        <option value="15">15일</option>
        <option value="16">16일</option>
        <option value="17">17일</option>
        <option value="18">18일</option>
        <option value="19">19일</option>
        <option value="20">20일</option>
        <option value="21">21일</option>
        <option value="22">22일</option>
        <option value="23">23일</option>
        <option value="24">24일</option>
        <option value="25">25일</option>
        <option value="26">26일</option>
        <option value="27">27일</option>
        <option value="28">28일</option>
        <option value="29">29일</option>
        <option value="30">30일</option>
        <option value="31">31일</option>
    </select>
        <input type="submit" value ="조회">
    </div>
</form>
<br><br>

<form action="">
<table border=" " style ="margin-left: auto; margin-right: auto">
    <thead>
    <tr>
        <th>번호</th><th>출석</th><th>지각</th><th>결석</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>1</td>
        <td><input type="radio" name="1" value="attend" checked="checked"></td>
        <td><input type="radio"name="1"value="late"></td>
        <td><input type="radio" name="1"value="absent"></td>
    </tr>
     <tr>
        <td>2</td>
        <td><input type="radio" name="2"value="attend"checked="checked"></td>
        <td><input type="radio"name="2"value="late"></td>
        <td><input type="radio" name="2"value="absent"></td>
    </tr>
     <tr>
        <td>3</td>
        <td><input type="radio" name="3"value="attend"checked="checked"></td>
        <td><input type="radio"name="3"value="late"></td>
        <td><input type="radio" name="3"value="absent"></td>
    </tr>
     <tr>
        <td>4</td>
        <td><input type="radio" name="4"value="attend"checked="checked"></td>
        <td><input type="radio"name="4"value="late"></td>
        <td><input type="radio" name="4"value="absent"></td>
    </tr>
     <tr>
        <td>5</td>
        <td><input type="radio" name="5"value="attend"checked="checked"></td>
        <td><input type="radio"name="5"value="late"></td>
        <td><input type="radio" name="5"value="absent"></td>
    </tr>
     <tr>
        <td>6</td>
        <td><input type="radio" name="6"value="attend"checked="checked"></td>
        <td><input type="radio"name="6"value="late"></td>
        <td><input type="radio" name="6"value="absent"></td>
    </tr>
    </tbody>
    </table>
    <br>
    <div style="text-align:center"><input type="button" value="저장" onclick=" "></div>
    </form>


</body>
</html>