<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>담당과목 관리</title>
<meta charset="utf-8">
</head>

시간표는 관리자 페이지에서 만든거 넣는건데 어떻게 할지 감이 안온다.....일단 진도관리부터


<body>
    <h1><strong><p>
        <div style="text-align:center">
            <a href="/Initialpage.html">학급관리 프로그램</a></p></strong></h1>
        </div>
    <br>
    <div style="text-align:right"><button> <a href="/Initialpage.html">HOME</a></button></div>

    <div style="text-align:center"><h2>{{subject_select}} 담당과목 관리</h2></div>
    <br><br>

    <h3><div style="text-align:center">과목별 시간표</div></p></h3>
    <p><table border="5" style="margin-left: auto; margin-right: auto">
            <thead>
    <tr>
        <td>   </td><th>월  </th><th>화  </th><th>수  </th><th>목  </th><th>금  </th>
    </tr>
            </thead>
    <tbody>
    <tr>
        <th>1교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>2교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>3교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>4교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>5교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>6교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>7교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>8교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    </tbody>
    </table>
<br><br>


<div style="text-align:center"><h2><p>과목별 진도관리</p></h2></div>
        <p><table border="5" style="margin-left: auto; margin-right: auto">
            <thead>
    <tr>
        <td>   </td><th>월  </th><th>화  </th><th>수  </th><th>목  </th><th>금  </th>
    </tr>
            </thead>
    <tbody>
    <tr>
        <th>1교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>2교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>3교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>4교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>5교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>6교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>7교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    <tr>
        <th>8교시</th><td>   </td><td>    </td><td>    </td><td>    </td><td>     </td>
    </tr>
    </tbody>
    </table>
    <br>
    <button onclick="">입력</button> <div style="text-align:right"><button onclick="">저장</button></div>
    <div style="text-align:center"><button onclick="window.location.href='file:///C:/Users/82103/Desktop/%EB%B6%80%ED%8A%B8%EC%BA%A0%ED%94%84/%EC%84%A4%EA%B3%84%EA%B2%B0%EA%B3%BC/Teacherpage/Teacherpage_3.html'">학급 관리</button></div>

</body>
</html>