<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
</head>
<body>
<h1><strong><p>
<div style="text-align:center"><a href="/"">학급관리 프로그램</a></p></strong></h1>
</div>
<br>
<div style="text-align:right"><button onclick="">HOME</button></div>
<br>
<div style="text-align:center">
	<p>
		<strong>선생님의 담당과목을 선택해주세요.
	</p>
	</strong>
</div>
<br>
<div style="text-align:center">
	<form action="/Teacherpage/2/" method= "post">
		<p>
			과목입력:
			<select name="subject" style="width:60px;height:30px;">
				<option value="국어1" selected>국어1</option>
				<option value="국어2">국어2</option>
				<option value="영어1">영어1</option>
				<option value="수학1">수학1</option>
				<option value="수학2">수학2</option>
				<option value="체육">체육</option>
				<option value="사회">사회</option>
				<option value="과학">과학</option>
			</select>
		</div>
		<div style="text-align:center">
			<input type="submit" value="확인">
		</div>
	</p>
</form>
</body>
</html>