<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
</head>

시간표는 관리자 페이지에서 만든거 넣는건데 어떻게 할지 감이 안온다.....일단 진도관리부터


<body>
    <h1><strong><p>
        <div style="text-align:center">
            <a href="file:///C:/Users/82103/Desktop/%EB%B6%80%ED%8A%B8%EC%BA%A0%ED%94%84/%EC%84%A4%EA%B3%84%EA%B2%B0%EA%B3%BC/Initialpage.html">학급관리 프로그램</a></p></strong></h1>
        </div>
    <br>
    <div style="text-align:right"><button onclick="window.location.href='file:///C:/Users/82103/Desktop/%EB%B6%80%ED%8A%B8%EC%BA%A0%ED%94%84/%EC%84%A4%EA%B3%84%EA%B2%B0%EA%B3%BC/Initialpage.html'">HOME</button></div>
    <br>

<h2><p>과목별 시간표</p></h2>
이건 진짜 모르겠다
<br><br>


<h2><p>과목별 진도관리</p></h2>



</body>

</html>