<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager page</title>
</head>
<body>
 <h1><strong><p>
 <div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
 </div>
 <br>
 <div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>
 <br>

    {% if class_number == 1 %}
    <div class="show_result">

        <table style="border: 1px solid black; width: 600px; text-align: center;">
        <thead>
            <tr>
                <th>/</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
            </tr>
        </thead>
            <tbody>
            {% for item in class_list %}
            <tr>
            <td>{{loop.index}}</td>
            <td>{{item.0[0]}}</td>
            <td>{{item.0[1]}}</td>
            <td>{{item.0[2]}}</td>
            <td>{{item.0[3]}}</td>
            <td>{{item.0[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}


    {% if class_number == 2 %}
    <div class="show_result">

        <table style="border: 1px solid black; width: 600px; text-align: center;">
        <thead>
            <tr>
                <th>/</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
            </tr>
        </thead>
            <tbody>
            {% for item in class_list %}
            <tr>
            <td>{{loop.index}}</td>
            <td>{{item.0[0]}}</td>
            <td>{{item.0[1]}}</td>
            <td>{{item.0[2]}}</td>
            <td>{{item.0[3]}}</td>
            <td>{{item.0[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>

    <div class="show_result">

        <table style="border: 1px solid black; width: 600px; text-align: center;">
        <thead>
            <tr>
                <th>/</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
            </tr>
        </thead>
            <tbody>
            {% for item in class_list %}
            <tr>
            <td>{{loop.index}}</td>
            <td>{{item.1[0]}}</td>
            <td>{{item.1[1]}}</td>
            <td>{{item.1[2]}}</td>
            <td>{{item.1[3]}}</td>
            <td>{{item.1[4]}}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    {% endif %}
    <br>
</div>

</body>
</html>
