

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>manager page</title>
</head>
<body>
 <h1><strong><p>
 <div style="text-align:center">
	<a href="/">학급관리 프로그램</a></p></strong></h1>
 </div>
 <br>
 <div style="text-align:right"><button onclick="window.location.href='/'">HOME</button></div>
 <br>

 <form action="/manager_result/" method="post">
 <h3>
    <div style="text-align:center">총 학급수:
    <select name="class_number" style="width:60px;height:30px;">
        <option value="1" selected>1개</option>
        <option value="2">2개</option>
        <option value="3">3개</option>
        <option value="4">4개</option>
        <option value="5">5개</option>
        <option value="6">6개</option>
        <option value="7">7개</option>
        <option value="8">8개</option>
    </select>
    </div>
 </h3>
<ul>
    <li><div style="text-align:center">
        <label> 국어1:</label>
        <select name="korean1_class" style="width:60px;height:30px;">
            <option value="0" selected>0시간</option>
            <option value="1">1시간</option>
            <option value="2">2시간</option>
            <option value="3">3시간</option>
            <option value="4">4시간</option>
            <option value="5">5시간</option>
        </select>
    </div> </li>
     <br>

    <li><div style="text-align:center">
        <label> 국어2:</label>
        <select name="korean2_class" style="width:60px;height:30px;">
            <option value="0" selected>0시간</option>
        <option value="1">1시간</option>
        <option value="2">2시간</option>
        <option value="3">3시간</option>
        <option value="4">4시간</option>
        <option value="5">5시간</option>
    </select>
    </div></li>
     <br>

    <li><div style="text-align:center">
        <label> 수학1:</label>
        <select name="math1_class" style="width:60px;height:30px;">
            <option value="0" selected>0시간</option>
        <option value="1">1시간</option>
        <option value="2">2시간</option>
        <option value="3">3시간</option>
        <option value="4">4시간</option>
        <option value="5">5시간</option>
    </select>
    </div></li>
     <br>

    <li><div style="text-align:center">
        <label> 수학2:</label>
        <select name="math2_class" style="width:60px;height:30px;">
            <option value="0"selected>0시간</option>
        <option value="1" >1시간</option>
        <option value="2">2시간</option>
        <option value="3">3시간</option>
        <option value="4">4시간</option>
        <option value="5">5시간</option>
    </select>
    </div></li>
     <br>

    <li><div style="text-align:center">
        <label> 영어 :</label>
        <select name="english_class" style="width:60px;height:30px;">
            <option value="0" selected>0시간</option>
        <option value="1">1시간</option>
        <option value="2">2시간</option>
        <option value="3">3시간</option>
        <option value="4">4시간</option>
        <option value="5">5시간</option>
    </select>
    </div></li>
     <br>

    <li><div style="text-align:center">
        <label> 사회 :</label>
        <select name="social_class" style="width:60px;height:30px;">
            <option value="0" selected>0시간</option>
            <option value="1">1시간</option>
        <option value="2">2시간</option>
        <option value="3">3시간</option>
        <option value="4">4시간</option>
        <option value="5">5시간</option>
    </select>
    </div></li>
     <br>

    <li><div style="text-align:center">
        <label> 과학 :</label>
        <select name="science_class" style="width:60px;height:30px;">
            <option value="0" selected>0시간</option>
        <option value="1">1시간</option>
        <option value="2">2시간</option>
        <option value="3">3시간</option>
        <option value="4">4시간</option>
        <option value="5">5시간</option>
    </select>
    </div></li>
     <br>

    <li><div style="text-align:center">
        <label> 체육 :</label>
        <select name="physical_class" style="width:60px;height:30px;">
            <option value="0" selected>0시간</option>
        <option value="1">1시간</option>
        <option value="2">2시간</option>
        <option value="3">3시간</option>
        <option value="4">4시간</option>
        <option value="5">5시간</option>
    </select>
    </div></li>
    </ul>

<br>
<div style="text-align:right"><button type="submit">시간표 생성</button></div>
 </form>

</body>
</html>